{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <title>E Commerce</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel='stylesheet' href='{% static "css/custom.css" %}'/>

  </head>
  <body>
    <nav class="navbar navbar-light">
        <a href="/" class="navbar-brand">E Commerce</a>
        <h5 style="float:right">Contact Us</h5>
    </nav>
    {% if messages %}

	<div class="message success xmalert alert-box"
		 style="visibility: visible; opacity: 1; position: fixed; z-index: 100000; transition: all 0.3s ease-in-out 0s; top: 30px; bottom: auto; left: auto; right: 30px;">
		<div class="message-type"></div>
		<p class="text-header">Saved</p>
		{% for message in messages %}
		<p class="info">{{ message }}</p>
		{% endfor %}
		<img class="close-btn" src="{% static 'images/dashboard/notif-close-icon.png' %} " alt="close-icon">
	</div>

{% endif %}
    {% block content %}
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>