{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Checkout
{% endblock %}

{% block content %}
 <h2 style="margin-left:550px;">Checkout</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 offset-1">
        <h3>Your Order</h3>
        <ul>
          {% for item in cart %}
            <li>
              {{ item.quantity }}x {{ item.product.title }}</li>
                <li><span>${{ item.total_price }}</span>
            </li>
          {% endfor %}
        </ul>
        <p><b> Total: ${{ cart.get_total_price }}</b></p>
      </div>

      <div class="col-sm-6">
      <form action="." method="post" class="order-form">
        {{ form|crispy }}
        <p><input type="submit" class="btn btn-success" value="Place order"></p>
        {% csrf_token %}
      </form>
      </div>
    </div>
</div>
{% endblock %}